/*****

	HOME

*****/
.separate { 
	float: left;
	width: 320px;
	height: 320px;
}
.pics1, .pics2, .pics3 { float: left; }
.pics1 {
	height: 160px;
	width: 160px;
	overflow: hidden;
	.rounded (10px);
	img {
		height: 160px;
		width: 160px;
		top: 0;
		left: 0;
	}
}
.pics2 {
	height: 160px;
	width: 320px;
	overflow: hidden;
	.rounded (10px);
	img {
		height: 160px;
		width: 320px;
		top: 0;
		left: 0;
	}
}
.pics3 {
	height: 320px;
	width: 320px;
	overflow: hidden;
	.rounded (10px);
	img {
		height: 320px;
		width: 320px;
		top: 0;
		left: 0;
	}
}