@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\000031}}
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\000032}}
#cboxWrapper {
  max-width: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\000033}}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\000034}}
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\000035}}
#cboxContent {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\000036}}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\000037}}
#cboxTitle {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\000038}}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\000039}}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000310}}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000311}}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000312}}
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered &amp; tabbed in a way that represents the nesting of the generated HTML.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000319}}
#cboxOverlay {
  background: url(../images/overlay.png) repeat 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000320}}
#colorbox {
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000321}}
#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(../images/controls.png) no-repeat -101px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000322}}
#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(../images/controls.png) no-repeat -130px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000323}}
#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(../images/controls.png) no-repeat -101px -29px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000324}}
#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(../images/controls.png) no-repeat -130px -29px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000325}}
#cboxMiddleLeft {
  width: 21px;
  background: url(../images/controls.png) left top repeat-y;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000326}}
#cboxMiddleRight {
  width: 21px;
  background: url(../images/controls.png) right top repeat-y;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000327}}
#cboxTopCenter {
  height: 21px;
  background: url(../images/border.png) 0 0 repeat-x;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000328}}
#cboxBottomCenter {
  height: 21px;
  background: url(../images/border.png) 0 -29px repeat-x;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000329}}
#cboxContent {
  background: #fff;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000330}}
.cboxIframe {
  background: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000331}}
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000332}}
#cboxLoadedContent {
  margin-bottom: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000333}}
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000334}}
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000335}}
#cboxLoadingOverlay {
  background: url(../images/loading_background.png) no-repeat center center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000336}}
#cboxLoadingGraphic {
  background: url(../images/loading.gif) no-repeat center center;
}
/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000339}}
#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}
/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000342}}
#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
  outline: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000344}}
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000345}}
#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../images/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000346}}
#cboxPrevious:hover {
  background-position: -75px -25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000347}}
#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(../images/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000348}}
#cboxNext:hover {
  background-position: -50px -25px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000349}}
#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../images/controls.png) no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/wamp\/www\/html-nova-fronteira\/less\/components\/colorbox\.less}line{font-family:\0000350}}
#cboxClose:hover {
  background-position: -25px -25px;
}
